<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebExample</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>Servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddReservasServlet</servlet-name>
    <servlet-class>Servlets.AddReservasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddReservasServlet</servlet-name>
    <url-pattern>/AgregarReserva</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SuccessAddReservasServlet</servlet-name>
    <servlet-class>Servlets.SuccessAddReservasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessAddReservasServlet</servlet-name>
    <url-pattern>/SuccessAddReservas</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UpdateReservasServlet</servlet-name>
    <servlet-class>Servlets.UpdateReservasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateReservasServlet</servlet-name>
    <url-pattern>/UpdateReserva</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>SuccessUpdateReservasServlet</servlet-name>
    <servlet-class>Servlets.SuccessUpdateReservasServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessUpdateReservasServlet</servlet-name>
    <url-pattern>/SuccessUpdateReserva</url-pattern>
  </servlet-mapping>
  
</web-app>